<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/quicklisp/local-projects/wheelreinvention</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>EF8F3F95-8867-4D17-961B-DD33BCBF133C</key>
		<dict>
			<key>BinderUUID</key>
			<string>EF8F3F95-8867-4D17-961B-DD33BCBF133C</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>963</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.5</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>722 204 963 730 0 0 1920 1055 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {555, 900}}</string>
		<string>{{556, 0}, {1084, 900}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>009D42A8-ABF8-4958-A807-39D0640E7CDE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>020FB417-1239-4C43-A75D-C92116626674</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0313B25F-1839-4EEC-BCAE-498BAB823D61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0A5ADA18-C545-4F37-B695-B705492E8DA1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0BAB6604-0F15-4B47-8A21-970A5CCA1804</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0EB597CF-663C-4AFF-BD43-723C35263895</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0F5F6A19-CD4D-4B1F-90FF-34380EE363FB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0F709A55-103B-4F76-B07C-339941A83903</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1DCA2685-336B-43AB-AF4B-242735A24B94</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B067906-5333-4D4A-BA4C-E18BAF453D59</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>31C9093F-EB54-40B5-83BF-E7E6B8FE290B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>32EC4E40-5BC3-4987-A760-815F8A4C2D0C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>345B0A17-60B9-455D-A6CB-E5A1B8A7B7A1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3A61119C-9815-48AF-976E-5FD410EB3840</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3B7CD9A0-CC1F-4CEF-BFF3-70A59B19B417</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C9C1CA0-96B8-4CBD-9ED4-03396E618C64</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3FE683CA-EE1B-4F03-B189-307EC8FE4425</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45BE6421-6701-4F97-BB1A-1BB557EF939A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>48211608-9877-4D55-8F1B-51DAC5AE48DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4838A96A-6708-4491-8809-7151CDB07E1F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>49EE0BD4-9EC4-4C95-881D-E472F8D4EF3A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4C1EEF53-C615-4CCD-B7F2-1F65D913E887</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4CD00173-7F80-47D1-A4F5-357A5DBC31BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4FD0B9E6-AA64-45EE-BC19-50B6CB515CCD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>50F7D139-C0B9-4553-8276-15C17F40D654</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>544FC1E0-B47C-4A6C-859E-7CF4899BB13C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>54EE138A-B670-4352-A223-32423D1EE103</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>55FBA2C9-5C8E-47FD-9389-C45E92599F97</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>580BD408-84BD-4FCD-97FC-3071F957F495</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5AF7D234-309F-4EA5-B211-8A37B1B3FF7D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5E03FFAC-865D-437D-8FA7-0633435877D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5ED528D7-3190-4E4C-9EE5-BDBA3059C56C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6150F759-FAE1-4E39-BA9E-63DCCC8CAB03</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6278E598-5061-4B90-8636-6B2512A909DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>63FD467C-F3F1-49A8-ADCA-9761BD24F81E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>659D218F-4D84-4CE5-A7BA-58CF8425A28C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6728493B-8273-474A-BCD5-C6384BD25FE3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>69F6E219-A99E-4698-9982-54C4FBA8DDD1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6DA5E421-7D26-4CC7-A044-AD912F125075</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F142A96-1630-4BB3-BDF1-55AEFE6C52A6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>711AC12B-BDE0-4449-8EC5-1B888656987A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7134F878-F1A9-485A-977C-5CF9A8859174</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75F38EDC-40F9-4C42-B228-39B69B38234E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>77D6F007-E404-4470-B111-11736A93512C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>786785BE-5AB2-4C66-8438-FBF24246C2DF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>78846D44-F3EF-4463-A1EA-38EDFFB00EAB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7DFD446B-29B7-460F-A916-6775FAA898D9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7E61DAD4-142F-4BAB-AA7B-4DFB20755324</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>81E96C61-9141-4675-9B12-EAD34E0BAE9D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>82192C21-859D-4F5A-8F72-E14F5E75FF58</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>854C5D2C-CEEE-46BC-B585-09CD2EA1A28E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>880A891F-2AF8-48E0-B362-ABB2C1380B0C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>884FF811-78B3-4615-B29B-CC22A2D05DF0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>885146A6-C54D-4369-88E1-348073A2DD61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8B043E8B-2B71-484B-B94F-147FEF645D0F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D31DB82-0CCB-4C81-8912-273466F8A5D2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90B00605-902B-4C30-9966-F04AD79ECDBB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A57F8F5-0F15-4CC7-AC67-B1C623E31B3A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9BD3E24A-99E4-4274-B4B6-E1F95E0C4A4C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9CAB9949-B8E6-49B0-806B-BFC74667C4CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9CEB118D-F965-471F-A66A-410324BB8CD0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E41F38A-F271-4FD3-AE9F-B83FA9684BB6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1860142-65E7-441F-B048-8658BE04FB50</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A4A2E672-5FE9-42D5-8541-24E899217A90</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A72D4A1D-5B91-4EA8-8499-6A5F7EDE17AD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7FF8DE5-1FA5-474D-B8D7-D0C88C1128B2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7868BA8-693B-4A22-8EC7-AF72FB28461B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7BCBC04-9D81-474E-B588-F738A0935A15</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B84AEADC-7618-4D25-9D29-519091643E17</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B8B6B26C-A526-4FEC-B8C0-37F8762DA836</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9A98BA5-925C-411C-84E3-017F28A321D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BACFC175-3F9A-411F-B043-AE33B2111D05</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE316161-9942-40B8-8E2C-C85A10E44D38</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C080785B-E483-4966-8A6F-5D3456A6EEE7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C2D0A39A-F36E-48A3-8413-FBFE554B2435</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9C16404-1E7E-454A-8A6F-18143863A88A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9D80D23-22D2-4277-8C79-18A9DF464FC7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA7951D4-7531-4E6A-B370-EDD67F37B3AA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CC868FE7-1A4C-4915-8689-9426E7485F2C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CC92685C-C988-4705-B4BE-1021ADF47818</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CCC8083F-0223-4D92-83B9-E3EF6F6A0C01</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CDCEDF87-5BEC-4CA0-BD13-5F34B88F8D80</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CDCF7BEE-97DD-4C35-AED0-9AB37859C0F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CFDC4731-3439-4D42-8E21-2FC73BEA6A71</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D06702AC-2C7C-434E-B477-85B31E561B0B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0A6E8A9-0A52-44AA-8B82-A1BAE209FDED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DAB1FF03-0630-4E04-9358-0FD4AAE7FEEC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DBC3CE3E-EDD3-430F-ABFD-1085936B3C77</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC4AA80F-273A-474C-97B8-3FB4E4264644</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE78F771-A9E7-4FDB-9F6C-EB374616B35D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E2074F74-9974-4A60-8A8F-715A3B73AC24</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E3790E10-B0F7-45B1-8406-E7C28E5A1DB4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4FE73BB-3A87-4C89-9754-F8E8D56DE310</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E7B6E84D-8167-43EA-98E1-C97A32E99708</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8A5603B-ABB6-40D5-A8B4-510C4A289A70</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA17B990-92D8-4369-A048-6DFB5C23DDA9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EE041F8B-5D6A-405E-8AD4-F6563FEED5DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF8F3F95-8867-4D17-961B-DD33BCBF133C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EFB4C36C-E332-4BBC-BA45-A107B23D1C53</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EFD3DEDD-4CB9-40E2-8982-8D3114DCA408</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F2E5B57E-2EF8-4BEE-86B3-AB7FFE2194C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F8156889-A75E-4B64-993A-C0167F7C5013</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F9C52843-A633-4D2B-BA18-21A373827E6E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA0B1024-4AF9-4D9F-94D5-1930C84DF673</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FBBB4551-D389-4C31-B888-D97E2EFFA605</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FDCDC1EF-019F-4003-A3BB-A93C73A64227</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FDFC8816-D9AC-4EED-846E-0469C39292C9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {838, 870}}</string>
		<string>{{839, 0}, {245, 870}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>253</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 504.66666666666669}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>43 105 1640 928 0 0 1920 1055 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
